<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <p>
    <%= @blog.body %>
  </p>

  <% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= render @blog.comments %>
</div>