          <div class="collapse" id="courses">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                  <%= link_to "Dissecting Rails 5", root_path %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_angular.jpg', width: '100%' %>
                  <%= link_to "Angular + Rails", "https://www.udemy.com/angular-on-rails-course/", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_ruby.jpg', width: '100%' %>
                  <%= link_to "Comprehensive Ruby", "https://www.udemy.com/comprehensive-ruby-programming-tutorial/", target: '_blank' %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/courses_tdd_bdd.jpg', width: '100%' %>
                  <%= link_to "Professional Rails Code Along", "https://www.udemy.com/professional-ruby-on-rails-coding-course/", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_vim.jpg', width: '100%' %>
                  <%= link_to "Vim for Ruby Developers", "https://www.udemy.com/vim-training-course-ruby-developers/", target: '_blank' %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/courses_ts.jpg', width: '100%' %>
                  <%= link_to "TypeScript Development", "https://www.udemy.com/introduction-typescript-development/", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
