          <div class="collapse" id="press">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'RubyRogues', "https://devchat.tv/ruby-rogues/mrs-008-jordan-hudgens", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  My Ruby Story - Jordan Hudgens
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'RubyRogues', "https://devchat.tv/ruby-rogues/rr-318-metaprogramming-jordan-hudgens", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Practical Metaprogramming
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Forbes', "https://www.forbes.com/sites/larrymyler/2017/04/25/how-a-solution-to-one-of-your-problems-could-be-your-next-business/#4fd543cd5ac5", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  How A Solution To One Of Your Problems Could Be Your Next Business
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'CIO', "http://www.cio.com/article/2394667/careers-staffing/14-tips-to-help-new-college-grads-land-a--good--it-job.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  14 Tips to Help New College Grads Land a (Good) IT Job
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Udemy', "https://blog.udemy.com/ruby-on-rails-tutorial-learn-from-scratch/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Ruby on Rails Tutorial: Learn From Scratch
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'NG Data', "https://www.ngdata.com/big-data-technology-trends-in-banking/#Hudgens", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  20 experts reveal the most important big data technology trends shaping banking and finance today
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'SmartFile', "http://www.smartfile.com/blog/8-questions-hiring-dream-software-developer/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  8 Questions to Hiring Your Dream Software Developer
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'The Street', "https://www.thestreet.com/story/13667907/1/can-you-bring-your-significant-other-on-a-business-trip.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Can You Bring Your Significant Other on a Business Trip?
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Computer User UK', "http://www.computerworlduk.com/galleries/it-business/10-technologies-that-changed-business-forever-3370249/", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  10 technologies that changed business forever
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Ecommerce Times', "http://www.ecommercetimes.com/story/64171.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  The Legal Perils of Social Networking
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Ecommerce Times', "http://www.ecommercetimes.com/story/64171.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  The Legal Perils of Social Networking
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'TechTarget', "http://searchsqlserver.techtarget.com/news/2240148415/Big-data-a-big-deal-for-SQL-Server-2012-users-say", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Big data a big deal for SQL Server 2012, users say
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Minyanville', "http://www.minyanville.com/sectors/consumer/articles/AAPL-GOOG-MSFT-NOK-AMZN-YHOO/9/27/2012/id/44482?page=2", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Who’s the Winner and Loser in the Apple / Google Maps War?
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Ecommerce Times', "http://www.ecommercetimes.com/rsstory/63636.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Google Media Server: A Giant Toe in the Door [Ecommerce Times]
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to 'Blue Print Hollywood', "http://www.frontgatemedia.com/news/biola2008_2.html", target: '_blank' %>
                </div>
                <div class="col-md-10">
                  Biola Media Conference Speaking Appearance: Designing for the Digital Age
                </div>
              </div>
            </div>
          </div>
